<h1>List of News</h1>

<a href="{{ path('news_add') }}">Add News</a>
</hr>

<ul>
    {% for newsItem in news %}
        <li><a href="{{ path('news_view', { 'identifier': newsItem.identifier }) }}">{{ newsItem.getTitle }}</a></li>
    {% endfor %}
</ul>
</hr>
Sort By <a href="{{ path('news_list') }}/asc">Asc</a> | <a href="{{ path('news_list') }}/desc">Desc</a>