<h1>{{ news.title }}</h1>
<h3>Weight: {{news.weight}}</h3>
<h2>Views: {{ news.getViews }}</h2>
{% if news.deletedAt %}
<h4>This item is marked as soft deleted</h4>
{% endif %}
    <a href="{{ path('news_delete', { 'identifier': news.identifier }) }}/hard">Hard Delete</a> | <a href="{{ path('news_delete', { 'identifier': news.identifier }) }}/soft">Soft Delete</a>

